<!-- <footer class="footer py-3 bg-dark mt-auto">
    <div class="container">
        <span class="text-muted">yelpCamp-2025</span>
    </div>
</footer> -->

<!-- image: `https://picsum.photos/400?random=${Math.random()}` -->
<footer class="bg-dark text-center text-white text-lg-start mt-auto">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.05);">
      © 2020 Copyright: yelpCamp
      <a class="text-body" href="https://www.google.com">PrateekSaha</a>
    </div>
    <!-- Copyright -->
  </footer>
    