<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>campground</title>
</head>
<body>
    <h1>all campgrounds</h1>
    <ul>
        <% for(let campground of campgrounds) { %>
            <li>
                <a href="/campground/<%=campground._id %>">
                    <%= campground.title %>
                </a>
            </li>
        <% } %>
    </ul>
    <footer>
        <a href="/campground/new">add a new camp ground</a>
        <a href="/campground/">all camps</a>
    </footer>
</body>
</html>