<% layout('layouts/boilerplate') %>

    <h1>new campgrounds</h1>
    <form action="/campground" method="POST">
        <div class="">
            <label for="title">title:</label>
            <input type="text" id="title" name ='campground[title]'>
        </div>
        <div class="">
            <label for="location">location:</label>
            <input type="text" id="location" name ='campground[location]'>
        </div>
        <button>add campground</button>
    </form>
