<% layout('layouts/boilerplate') %>
<h1>register</h1>
<form action="/register" method="POST" class="validated-form">
    <div class="mb-3">
        <label for="userName" class="form-label">Username:</label>
        <input type="text" class="form-control" id="userName" name="userName" required>
        <div class="valid-feedback">looks good</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="valid-feedback">looks good</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">looks good</div>
    </div>
    <button class="btn btn-success">register</button>
</form>